<%= div_for comment do %>
  <%= link_to "Comment #{comment.id}", comment %>
  <div class ="comment1"><%= comment.comment1 %></div>
  <div class ="comment2"><%= comment.comment2 %></div>
  <div class ="actions">
    <%= link_to 'Edit', edit_comment_path(comment) %>
    <%= link_to 'Destroy', comment, method: :delete, remote: true, data: { confirm: 'Are you sure, this will destroy your desktop forever ?' } %>
  </div>
<% end %>
